<app-dashboard></app-dashboard>




<div class="container">
	<div class="row">
		<div class="col-sm-15 col-md-15 user-details">
            <div class="user-image">
                <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
            </div>
            <div class="user-info-block">
            <div *ngFor='let userdata of Users' >

              <!-- <span class="text-center">{{ content.name}}</span> -->

                <div class="user-heading">
                    <h3>{{ userdata.name}}</h3>
                    <span class="help-block">Chandigarh, IN</span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="glyphicon glyphicon-user"> Basic Details</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            <span class="glyphicon glyphicon-cog"> Education Details</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#email">
                            <span class="glyphicon glyphicon-envelope"> Personal Details</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#events">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>
                    </li>
                </ul>
                <div class="user-body">
                 <div class="tab-content">
                    <div id="information" class="tab-pane active">
                    <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]= "userdata.name">
                     </div>
                     <div class="form-group">
                     <label>Location</label>
                    <input type="text" name="location" class="form-control" value="{{userdata.location}}">
                    </div> 
                    </div>
                    <div id="settings" class="tab-pane">
                        
                        <h4>Settings</h4>
                       
                        </div>
                        <div id="email" class="tab-pane">
                            <h4>Send Message</h4>
                        </div>
                        <div id="events" class="tab-pane">
                            <h4>Events</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
</div>