<app-dashboard></app-dashboard>
<div class="container"> 
	<div class="row">
		<div class="col-sm-15 col-md-15 user-details">
            <div class="user-image">
            <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g"  class="img-circle">
            </div>
            <div class="user-info-block">
            <div *ngFor='let userdata of Users'>
            <div class="user-heading">
            <h3>{{ userdata.name}}</h3>
            <span class="help-block">{{userdata.prof_name}}</span>
            </div>
            <ul class="navigation">
            <li class="active">
            <a data-toggle="tab" href="#information">
            <span class="glyphicon glyphicon-user"> Basic Details</span>
            </a>
            </li>
            <li>
            <a data-toggle="tab" href="#settings">
            <span class="glyphicon glyphicon-cog"> Education Details</span>
            </a>
            </li>
            <li>
            <a data-toggle="tab" href="#email">
            <span class="glyphicon glyphicon-envelope"> Personal Details</span>
            </a>
            </li>
            <li>
            <a data-toggle="tab" href="#events">
            <span class="glyphicon glyphicon-calendar"></span>
            </a>
            </li>
            </ul>
            <div class="user-body">
            <div class="tab-content">
            <div id="information" class="tab-pane active">
            <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]= "userdata.name">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.email">
            </div> 
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.userType">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.contact_no">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.sport">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.gender">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.address1">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.address2">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.address3">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.dob">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.prof_name">
            </div>
            <div class="form-group">
            <label>Location</label>
            <input type="text" name="location" class="form-control" [(ngModel)]= "userdata.prof_language">
            </div>
            </div>

            <div id="settings" class="tab-pane">
            <h4>Settings</h4>
            </div>

            <div id="email" class="tab-pane">
            <h4>Send Message</h4>
            </div>

            <div id="events" class="tab-pane">
            <span>Formal Education</span>

          <!--   <div *ngFor='let porfiledata of formalEducation1'>
            <div *ngFor='let porfiledata1 of porfiledata'>
            <div class='box-body'  style='background-color: white; border-color: black;border-radius: 4px; padding: 10px 20px; margin-bottom: 30px;margin-top: 10px;    box-shadow: 0px 0px 3px #bbbdbd;    -webkit-box-shadow: 0px 0px 3px #bbbdbd;'>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.degree}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.organisation}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.stream}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.courseDuration}}">
            </div>
            </div>
            </div> 
            </div> -->
             
         <!--     <span>Sport Education</span>
            <div *ngFor='let sportEducationdata of   sportEducation1'>
            <div *ngFor='let sportEducationdata1 of sportEducationdata'>
            
           <div class='box-body'  style='background-color: white; border-color: black;border-radius: 4px; padding: 10px 20px; margin-bottom: 30px;margin-top: 10px;    box-shadow: 0px 0px 3px #bbbdbd;    -webkit-box-shadow: 0px 0px 3px #bbbdbd;'>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{sportEducationdata1.degree}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{sportEducationdata1.organisation}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{sportEducationdata1.stream}}">
            </div>

            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{sportEducationdata1.courseDuration}}">
            </div>

            </div>
            </div> 
            </div> -->

            <div *ngFor='let porfiledata of formalEducation1'>
            <div *ngFor='let porfiledata1 of porfiledata'>
            <div class='box-body'  style='background-color: white; border-color: black;border-radius: 4px; padding: 10px 20px; margin-bottom: 30px;margin-top: 10px;    box-shadow: 0px 0px 3px #bbbdbd;    -webkit-box-shadow: 0px 0px 3px #bbbdbd;'>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.degree}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.organisation}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.stream}}">
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" value="{{porfiledata1.courseDuration}}">
            </div>
            </div>
            </div>
            </div>

    <form [formGroup]="termForm" novalidate>
    <div formArrayName="myArray">
    <div *ngFor="let myGroup of termForm.controls.myArray.controls; let i=index" class="panel panel-default">
          
           <div [formGroupName]="i" class="panel-body"> 
              <span *ngIf="termForm.controls.myArray.controls.length > 1" 
                    (click)="removeterm(i)" class="glyphicon glyphicon-remove pull-right">
                </span>
            <h5>Formal Education</h5>
            <div [formGroupName]="termCondition[i]" class="panel-body"> 
            <div class='box-body'  style='background-color: white; border-color: black;border-radius: 4px; padding: 10px 20px; margin-bottom: 30px;margin-top: 10px;    box-shadow: 0px 0px 3px #bbbdbd;    -webkit-box-shadow: 0px 0px 3px #bbbdbd;'>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" formControlName="degree" >
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" formControlName="organisation" >
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" formControlName="stream" >
            </div>
            <div class="form-group">
            <input type="text" name="degree" class="form-control" formControlName="from" >
            </div>
             <div class="form-group">
            <input type="text" name="degree" class="form-control" formControlName="to" >
            </div>
            </div>



      </div>
      </div>
      </div>


    </div>
        <div class="margin-20">
        <input #newTerm
             type="hidden" style="width:30%" id="newTerm"  value="formalEducation">
        <a (click)="addtermArray(newTerm.value)" style="cursor: default" class="btn btn-primary">Add Ticket Details  </a>
        </div>
          <br/><br/>
        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>form value: <br>{{termForm.value | json}}</pre>
        </div>
          
          <input type="text" name="t" id="formalEdu" class="form-control" value="{{termForm.value | json}}">
      
      </form>

         <button (click) = "cheakjson();">Push</button>
 

            </div>
            </div>
            </div>
            </div>
            </div>
                   
	    </div>
</div>
</div>

