
<app-dashboard></app-dashboard>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/assets/images/avatar_hat.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Jane Doe</h2>
          </div>
        </div>
      </div><br>
</div>
<div class="w3-twothird">  
<div class="w3-container w3-card-2 w3-white w3-margin-bottom">
<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Create Jobs</h2>
<ul class="nav nav-tabs">
<li class="active"><a class="nooutline" data-toggle="tab" href="#home">Job Details</a></li>
<li><a class="nooutline" data-toggle="tab" href="#menu1">Organization</a></li>
<li><a class="nooutline" data-toggle="tab" href="#menu2">Requirements</a></li>  
</ul>
<div class="tab-content">
<div id="home" class="tab-pane fade in active">
<div class="box1">
<h2>Job Details:</h2>
<div class="form-group">
<label for="email">Email address:</label>
<input type="text" class="form-control" id="email">
</div>
<div class="form-group">
<label for="pwd">Password:</label>
<input type="text" class="form-control" id="pwd">
</div>
<div >
</div>
</div>
</div>
<div id="menu1" class="tab-pane fade">  
<div class="box1">
<h2>Organisation Details:</h2>
<div class="form-group">
<label for="email">Email address:</label>
<input type="text" class="form-control" id="email">
</div>
<div class="form-group">
<label for="pwd">Password:</label>
<input type="text" class="form-control" id="pwd">
</div>
</div>
</div>

<!-- new Tab 3 -->


  <div id="menu2" class="tab-pane fade">
   
  <div class="box1">
  <h2>Requirement:</h2>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="text" class="form-control" id="pwd">
  </div>
  </div>
  </div>
  </div>


    </div>
  </div>
</div>
