<main>
    <div style="text-align: center;">
      <img class="responsive-img"  src="http://portal.getsporty.in/img/logo.png" />
      <div class="section"></div>

    

      <div class="container">
        <div class="z-depth-4 grey lighten-4 row" style=" display: inline-block; padding: 4% 4% 4% 4%; border: 1px solid #EEE;">
<div class="row">

<h4> Register</h4>
          <div class="row">
              <form class="col s12">

                   
                <div class="row">
                      <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Name</label>
        </div></div>
                <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Email</label>
        </div></div>
                 <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phonelink_ring</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Phone No</label>
        </div></div>
                <div class="row">
        
                  <div class="input-field col s6">
                     <i class="material-icons prefix"></i> 
                      <select>
                              <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                 <option value="2">Option 2</option>
                                 <option value="3">Option 3</option>
                       </select>
                      <label>Choose sports</label>
                    </div>
        <div class="input-field col s6">
          <input id="email"  type="email" class="validate datepicker">
          <label for="email" data-error="wrong" data-success="right">Date Of Birth</label>
        </div>
  </div>
                <div class="row">
         <div class="input-field col s6">
        <i class="material-icons prefix"></i> 
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Choose profession</label>
  </div>
         <div class="input-field col s6">
       
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Gender</label>
  </div></div>
                 <div class="row">
                           <div class="input-field col s4">
                           <label style='float: right;'>
                <a class='pink-text' href='#!'><b>Already registered?</b></a>
              </label>
                          </div>

                          <div class="input-field col s8">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Sign UP
                              
                            </button>
                          </div>
                        </div>
                    
                    </form>
                  </div>
        </div>
      </div>
      
    
    <div class="section"></div>
    <div class="section"></div>
    </div>

  </div>


  
  </main>