

<nav class="navbar navbar-default" style="background-color: #1d8587" role="navigation" *ngIf="showMenu">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
     
    </button>    
  </div>
  <div class="navbar-collapse collapse">
  
    <ul class="nav navbar-nav">
    <a href=""><img style="width:15%" src="http://www.getsporty.in/img/logo.png"></a>
      <!-- <a href="" class="brand-logo">Company's logo</a> -->
    </ul>

    <ul class="nav navbar-nav navbar-center">
      <h2><span class="label label-primary">MyCreation</span></h2>
    </ul>

    <ul class="nav navbar-nav navbar-right">

<li><a style="color: #fff" (click)= "logout()"><span class="glyphicon glyphicon-log-out" ></span>Logout ?</a></li>


    <!--    <li><a  >Logout</a></li> -->
    </ul>
  </div>
</nav>

<!-- <div class="loading" id="imagelodar"  >Loading&#8230;

<div class="loader">
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>

</div> -->



<!-- 
<nav class="navbar navbar-default" *ngIf="showMenu">


    <div class="container-fluid">
     <div class="navbar-header">
      <a href="#" class="navbar-brand">Company's logo</a>
       </div>
   
       
      <ul id="nav-mobile"  class="nav navbar-nav navbar-right">
      <li><a routerLink="/createevent">Create Event</a></li> 


     <li><h2><span class="label label-primary">MyCreation</span></h2></li>
      <li><a routerLink="/event">Veiw Event</a></li>
       <li><a routerLink="/viewEvent/129">View Content</a></li> 
       
        <li><a routerLink="/tournament">Tournament</a></li>
        <li><a routerLink="/contentview">View Content</a></li>   
        <li><a routerLink="/createcontent">Create Content</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        
      <li><a routerLink ="/job">Job</a></li>
      <li><a (click)= "logout()" >Logout</a></li>    
      </ul>
     



    </div>

  </nav>
   -->