<app-dashboard></app-dashboard>
<div class="container">
  <h2>Create Event</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>



     <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >




    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>



     <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >


    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>


     <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >

    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>


    
    <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >
          <div class="form-group">
          <label for="address1">Address Line1</label>
          <input type="text" class="form-control"  id="add1" placeholder="Enter Address">
          <label id="address_line1_error" hidden>Address Line1 is required .</label> 
          </div >

    </div>
  </div>
</div>