<app-dashboard></app-dashboard>
<div class="w3-content w3-margin-top" style="max-width:1400px;">
<div class="w3-row-padding">
<div class="w3-third">
<div class="w3-white w3-text-grey w3-card-4">
<div class="w3-display-container">
<img src="assets/images/avatar_hat.jpg" style="width:100%" alt="Avatar">
<div class="w3-display-bottomleft w3-container w3-text-white">


        <h2>{{user.name}}</h2>
        </div>
        </div>
        <div class="w3-container">
        <h5 class="w3-opacity"><b>Profession - </b>{{user.prof_name}}</h5>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Email - </b> {{user.email}}</h5>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Contact No - </b>{{user.contact_no}}</h5>
        <p></p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Sport - </b>{{user.sport}}</h5>
        <p></p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Gender - </b>{{user.gender}}</h5>
        <p></p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>DOB</b></h5>
        <h6 class="w3-text-teal"><span class="w3-tag w3-green w3-round">{{user.dob}}</span></h6>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <hr>
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Address Details</b></p>
        <h5 class="w3-opacity"><b>Location  </b></h5>
        <p>{{user.location}}</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Languages Known  </b></h5>
        <p>{{user.languages_known}}</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
        </div>
          </div>
          <h5 class="w3-opacity"><b>acamedy</b></h5>
          <p>{{headerdetails.acamedy}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <h5 class="w3-opacity"><b>description</b></h5>
          <p>{{headerdetails.description}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <h5 class="w3-opacity"><b>designation</b></h5>
          <p>{{headerdetails.designation}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <br>
          <br>
        </div>
      </div><br>
    </div>
    <div class="w3-twothird">
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Formal Educations</h2>
    <div *ngFor = 'let formalEducations of formalEducation' >
    <div class="w3-container">
    <h5 class="w3-opacity"><b>Degree Name -</b> {{formalEducations.degree}} </h5>
    <h6 class="w3-text-teal"><b>Organisation Name -</b>{{formalEducations.organisation}}</h6>
    <h6 class="w3-text-teal"><b>Stream  -</b> {{formalEducations.stream}}</h6>
    <h6 class="w3-text-teal"><b>Course Duration -</b> {{formalEducations.courseDuration}}</h6>
    <hr>
    </div>
    </div>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Sport Educations</h2>
    <div *ngFor = 'let sportEducations of sportEducation'> 
    <div class="w3-container">
    <h5 class="w3-opacity"><b>Degree Name -</b> {{sportEducations.degree}} </h5>
    <h6 class="w3-text-teal"><b>Organisation Name -</b>{{sportEducations.organisation}}</h6>
    <h6 class="w3-text-teal"><b>Stream  -</b> {{sportEducations.stream}}</h6>
    <h6 class="w3-text-teal"><b>Course Duration -</b> {{sportEducations.courseDuration}}</h6>
    <hr>
    </div>
    </div>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Other Educations</h2>
    <div *ngFor = 'let otherCertifications of otherCertification'> 
    <div class="w3-container">
    <h5 class="w3-opacity"><b>Degree Name -</b> {{otherCertifications.degree}} </h5>
    <h6 class="w3-text-teal"><b>Organisation Name -</b>{{otherCertifications.organisation}}</h6>
    <h6 class="w3-text-teal"><b>Stream  -</b> {{otherCertifications.stream}}</h6>
    <h6 class="w3-text-teal"><b>Course Duration -</b> {{otherCertifications.courseDuration}}</h6>
    <hr>
    </div>
    </div>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience </h2>
    <div *ngFor = 'let workExperiences of workExperience'> 
    <div class="w3-container">
    <h5 class="w3-opacity"><b>Designation Name -</b> {{workExperiences.designation}} </h5>
    <h6 class="w3-text-teal"><b>Organisation Name -</b>{{workExperiences.organisationName}}</h6>
    <h6 class="w3-text-teal"><b>Description  -</b> {{workExperiences.description}}</h6>
    <h6 class="w3-text-teal"><b>From -</b> {{workExperiences.dateFrom}}</h6>
    <h6 class="w3-text-teal"><b>To -</b> {{workExperiences.dateTo}}</h6>
    <hr>
    </div>
    </div>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experience As Player </h2>
    <div *ngFor = 'let experienceAsPlayers of experienceAsPlayer'> 
    <div class="w3-container">
    <h5 class="w3-opacity"><b>Designation Name -</b> {{experienceAsPlayers.designation}} </h5>
    <h6 class="w3-text-teal"><b>Organisation Name -</b>{{experienceAsPlayers.organisationName}}</h6>
    <h6 class="w3-text-teal"><b>Description  -</b> {{experienceAsPlayers.description}}</h6>
    <h6 class="w3-text-teal"><b>From -</b> {{experienceAsPlayers.dateFrom}}</h6>
    <h6 class="w3-text-teal"><b>To -</b> {{experienceAsPlayers.dateTo}}</h6>
    <hr>
    </div>
    </div>
    </div>
    </div>
    </div>
    <input  style="outline: none; margin: 20px 0px;" type="submit" (click) ="Create(user)" class="btn btn-primary" value="Submit" >
    </div>