<app-dashboard></app-dashboard>

<div class="col-md-4" style="margin-left:30%;">
<div class="box box-primary">       
          <!-- {{plan || json}} -->    
<div class="box-header with-border">
<h3 class="box-title">Order Summary</h3>
</div>
<p>Payment Plan</p>
<div *ngFor="let payplan of plan  let i = index"> 
<div class="radio radio-info radio-inline">
<input type="radio" id="inlineRadio{{i}}" value="{{payplan.amount}}"  name="radioInline" (change)="onChange(payplan.amount)" checked="">
<label for="inlineRadio{{i}}"> {{payplan.amount}} <b> for </b> {{payplan.duration}} </label>
</div>
<!-- <label class="radio-inline"><input type="radio" name="optradio">Option 1</label> -->
</div>
<div class="box-body">
<hr>
<div class="left"><h4><b>Company Name : </b></h4></div>
<div class="right">Dark Horse Sports</div>
<hr>
<div class="left"><h4><b>Location : </b></h4></div>
<div class="right">Noida</div>
<hr>
<div class="left"><h4><b>Order Review: </b></h4></div>
<div class="right">Dark Horse Sports</div>
<hr>
<div class="left">
<div class="col-lg-5"><h4><b> Job</b></h4></div></div>
<hr>
<div class="left"><h4><b>Cost : </b></h4></div>
<div class="right">{{plancost}}</div>
<hr>
<div class="left"><h4><b>GST: </b></h4></div>
<div class="right">{{gst}}</div>
<hr>
<div class="left"><h4><b>Total : </b></h4></div>
<div class="right">{{total}}</div>

<hr>
<button type="button" class="btn btn-primary" (click)="payment(total)">Submit</button>
</div>
</div>
</div>


<!-- 
<tr>
<td>Amount: </td>
<td><input name="amount" [(ngModel)] = "hashdata.amount" ></td>
<td>First Name: </td>
<td><input name="firstname" id="firstname" [(ngModel)] = "hashdata.firstname"></td>
</tr>
<tr>
<td>Email: </td>
<td><input name="email" id="email"  [(ngModel)] = "hashdata.email"></td>
<td>Phone: </td>
<td><input name="phone" [(ngModel)] = "hashdata.phone"></td>
</tr>
<tr>
<td>Product Info: </td>
<td colspan="3"><input name="productinfo" [(ngModel)] = "hashdata.productinfo"></td>
</tr>
<tr>
<td>Success URI: </td>
<td colspan="3"><input name="surl"  [(ngModel)] = "hashdata.surl"></td>
</tr>
<tr>
<td>Failure URI: </td>
<td colspan="3"><input name="furl" [(ngModel)] = "hashdata.furl"></td>
</tr>

<tr>
<td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" size="64" /></td>
</tr>

<button class="btn btn-primary fontBold"  (click)="createHash(hashdata)"  >PAY NOW</button>

<br>
<div id="results"></div> -->






<!-- 
<form ngNoForm action="https://test.payu.in/_payment" target="_blank" method="POST">
    <input type="text" name="key" value="{{key}}" />
    <input type="text" name="hash" value="{{hash}}"/>
    <input type="text" name="txnid" value="{{txnid}}"/>
    <table>
    <tr>
    <td><b>Mandatory Parameters</b></td>
    </tr>
    <tr>
    <td>Amount: </td>
    <td><input name="amount" value="{{amount}}" /></td>
    <td>First Name: </td>
    <td><input name="firstname" id="firstname" value="{{firstname}}" /></td>
    </tr>
    <tr>
    <td>Email: </td>
    <td><input name="email" id="email" value="{{email}}" /></td>
    <td>Phone: </td>
    <td><input name="phone" value="{{phone}}" /></td>
    </tr>
    <tr>
    <td>Product Info: </td>
    <td colspan="3"><input type="text" name="productinfo" value="{{productinfo}}" /></td>
    </tr>
    <tr>
    <td>Success URI: </td>
    <td colspan="3"><input name="surl" value="{{surl}}" /></td>
    </tr>
    <tr>
    <td>Failure URI: </td>
    <td colspan="3"><input name="furl" value="{{furl}}" /></td>
    </tr>
    <tr>
    <td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" size="64" /></td>
    </tr>
    </table>

    <button type="submit">Search</button>
    </form> -->

<!-- <form ngNoForm [formGroup]="myForm" action="https://test.payu.in/_payment"  method="POST">
    
    
    
    
    <tr>
    <td>Amount: </td>
    <td><input name="amount" [(ngModel)] = "hashdata.amount" ></td>
    <td>First Name: </td>
    <td><input name="firstname" id="firstname" [(ngModel)] = "hashdata.firstname"></td>
    </tr>
    <tr>
    <td>Email: </td>
    <td><input name="email" id="email"  [(ngModel)] = "hashdata.email"></td>
    <td>Phone: </td>
    <td><input name="phone" [(ngModel)] = "hashdata.phone"></td>
    </tr>
    <tr>
    <td>Product Info: </td>
    <td colspan="3"><input name="productinfo" [(ngModel)] = "hashdata.productinfo"></td>
    </tr>
    <tr>
    <td>Success URI: </td>
    <td colspan="3"><input name="surl"  [(ngModel)] = "hashdata.surl"></td>
    </tr>
    <tr>
    <td>Failure URI: </td>
    <td colspan="3"><input name="furl" [(ngModel)] = "hashdata.furl"></td>
    </tr>
    
    <tr>
    <td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" size="64" /></td>
    </tr>
    
   
    <br>
    <button type="submit" [disabled]="!myForm.valid" onclick="submit()">SEND</button>
    </form> -->