<app-dashboard></app-dashboard>
<div class="container">
<div class="row">
<div class="event">Events</div>
<div class="col-sm-12 col-md-3"><div class="card">
               
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
          </div>
<div class="col-sm-12 col-md-3"><div class="card">
               
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
          </div><div class="col-sm-12 col-md-3"><div class="card">
               
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3"><div class="card">
               
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
            </div>
          </div>

  </div>
<hr>
<!-- 2nd row tournaments-->
<div class="row">

  <div class="event">Tournaments</div>
 <div class="col-sm-12 col-md-4"><div class="card">
               
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div>
          </div> <div class="col-sm-12 col-md-4"><div class="card">
               
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                   
                </div>
            </div>
          </div> <div class="col-sm-12 col-md-4"><div class="card">
               
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.ards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                   
                </div>
            </div>
          </div>
  </div>

  </div>
 
 

