<body style="background-color: #e6e2e2;"><nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="LOGO.png" width="88px"
    height= "67px"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="mr1 right">
      <li><a  href='#' id="login"><i class="material-icons left" style="display:inline;">perm_identity</i><span>NAME</span>
</a></li>
      
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      
        <li><a routerLink="event">Event</a></li>
        <li><a routerLink="createevent">Create Event</a></li> 
        <li><a routerLink="tournament">Tournament</a></li>
        <li><a routerLink="contentview">View Content</a></li>   
        <li><a routerLink="createcontent">Create Content</a></li>
        <li><a routerLink="login">Login</a></li>
        
      </ul>
      


<div id="login-form" class="webui-popover-content">
<div>Log in via<br>
 <button class="loginBtn loginBtn--facebook">
  Facebook
</button>

<button class="loginBtn loginBtn--google">
  Google+
</button>
</div><br>
Or<br>
        <form action="" method="post">
            <div class="input-field input-field1">
                <input type="text" placeholder="Username">
            </div>
            <div class="input-field input-field1">
                <input type="password" placeholder="Password">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Login
                
            </button>
        </form>
    </div>
      <ul id="mobile-demo" class="side-nav" style="width:220px;    background-color: #222d32;">
      <li><div class="userView">
      <div class="background">
        <img style="max-width:100%;height:100%" src="http://www.planwallpaper.com/static/images/2022725-wallpaper_625864_Iz6NK8G.jpg">
      </div>
      <a href="#!user"><img class="circle" src="https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>

        <li><a href="ievent.html">Event</a></li>
        <li><a href="event.html">Create Event</a></li>
        <li><a href="tournament.html">Tournament</a></li>
        <li><a href="create_tournament.html">Create Tournament</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
<!-- 1st row events-->
  <div class="row">
  <div class="event">Events</div>
<div class="col s12 m4 l4"><div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>11I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
          </div>
<div class="col s12 m4 l4"><div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
          </div>
<div class="col s12 m4 l4"><div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>

          </div>
          <div class="col s12 m4 l4"><div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
          </div>


  </div>
<hr>
<!-- 2nd row tournaments-->
<div class="row">

  <div class="event">Tournaments</div>
<div class="col s12 m4 l4"><div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
          </div>
<div class="col s12 m4 l4"><div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
          </div>
<div class="col s12 m4 l4"><div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
          </div>

  </div>

  </div>
 
  <script>
$( document ).ready(function(){
  $(".button-collapse").sideNav();
});
$('#login').webuiPopover({url:'#login-form'});

</script>

  </body>