<nav class="navbar navbar-inverse" style=" background-color: #2d91e2;border-color:#2c7be2;">
  <div class="container-fluid" style="color: #fff;">
    <div class="navbar-header">
    <a routerLink="/athletedashboard"  ><img style="width:15%" src="https://www.getsporty.in/img/logo.png"></a>
 <!--      <a class="navbar-brand"  style="width: 25%">GETSPORTY</a> -->
    </div>
  <!-- <ul class="nav navbar-nav">
      <li class=""><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right" style="margin-top: 0%;">
      <li><a routerLink="/athleteProfileView" style="color: #fff;"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="#" style="color: #fff;" (click) = "logout()"><span class="glyphicon glyphicon-log-in" ></span> Logout</a></li>
    </ul>
  </div>
</nav>