<app-dashboard></app-dashboard>
<!-- <section class="content-header">
   <h1>
     List Content 
      <small></small>
   </h1>
   <h1>{{username}}</h1>
</section>
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#content" data-toggle="tab">Content</a></li>
               <li class="pull-right"><a routerLink="/tournament" class="btn btn-info"><i class="fa fa-plus-square"></i> ADD</a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane active" id="content">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >title</th>
                              <th class="text-center" >content</th>
                              <th class="text-center" >userid</th>
                              <th class="text-center" >publish</th>
                              <th class="text-center" >url</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let content of Contents' >
                              <td class="text-center">{{ content.title }}</td>
                              <td class="text-center">{{ content.content }}</td>
                              <td class="text-center">{{ content.userid }}</td>
                              <td class="text-center">{{ content.publish }}</td>
                              <td class="text-center">{{ content.url }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editContent(content.id)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="form-group">
<label for="link">Start Date</label>
<input type="text" class="form-control"  id="startD" placeholder="Enter Start Date">
<label id="start_date_error" hidden>Start Date is required .</label> 
</div >
 <input type="date" name="" class="form-control"> -->

<div class="container-fluid bg-3 text-center">    
<h3>Some of my Work</h3><br>
<div class="row">
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4 ">
<img class="w3-hover-shadow" style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4 ">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br><div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger,</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br><div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger,</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3" style="margin-top:1%">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
</div>
</div><br><br>

<div class="col-md-12">
<div class="row">
      <div class="col-md-4" style="margin-top: 2%; width: 25%;">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date"> <a href="#0">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="assets/images/img_fjords.jpg" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Catagories</div>
              <h1 class="title">Lorem Ipsum</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 2%; width: 25%;">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date"> <a href="#0">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="assets/images/img_fjords.jpg" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Catagories</div>
              <h1 class="title">Lorem Ipsum</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 2%; width: 25%;">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date"> <a href="#0">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="assets/images/img_fjords.jpg" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Catagories</div>
              <h1 class="title">Lorem Ipsum</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 2%; width: 25%;">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date"> <a href="#0">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="assets/images/img_fjords.jpg" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Catagories</div>
              <h1 class="title">Lorem Ipsum</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 2%; width: 25%;">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date"> <a href="#0">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="assets/images/img_fjords.jpg" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Catagories</div>
              <h1 class="title">Lorem Ipsum</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 2%; width: 25%;">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date"> <a href="#0">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="assets/images/img_fjords.jpg" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Catagories</div>
              <h1 class="title">Lorem Ipsum</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 2%; width: 25%;">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date"> <a href="#0">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="assets/images/img_fjords.jpg" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Catagories</div>
              <h1 class="title">Lorem Ipsum</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>