<app-dashboard></app-dashboard>
<!-- <section class="content-header">
   <h1>
     List Content 
      <small></small>
   </h1>
   <h1>{{username}}</h1>
</section>
<section class="content">
   <div class="row">
      <div class="col-md-12">
         <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#content" data-toggle="tab">Content</a></li>
               <li class="pull-right"><a routerLink="/tournament" class="btn btn-info"><i class="fa fa-plus-square"></i> ADD</a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane active" id="content">
                  <div class="box-body">
                     <table id="example2" class="table table-bordered table-hover">
                        <thead>
                           <tr>
                              <th class="text-center" >title</th>
                              <th class="text-center" >content</th>
                              <th class="text-center" >userid</th>
                              <th class="text-center" >publish</th>
                              <th class="text-center" >url</th>
                              <th class="text-center" ></th>
                           </tr>
                        </thead>
                        <tbody >
                           <tr *ngFor='let content of Contents' >
                              <td class="text-center">{{ content.title }}</td>
                              <td class="text-center">{{ content.content }}</td>
                              <td class="text-center">{{ content.userid }}</td>
                              <td class="text-center">{{ content.publish }}</td>
                              <td class="text-center">{{ content.url }}</td>
                              <td class="text-center"><a href="javascript:void(0)" (click)= "editContent(content.id)">Edit</a></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="form-group">
<label for="link">Start Date</label>
<input type="text" class="form-control"  id="startD" placeholder="Enter Start Date">
<label id="start_date_error" hidden>Start Date is required .</label> 
</div >
 <input type="date" name="" class="form-control"> -->

<div class="container-fluid bg-3 text-center">    
<h3>Some of my Work</h3><br>
<div class="row">
<div class="col-sm-3">
<div class="w3-card-4 ">
<img class="w3-hover-shadow" style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4 ">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br><div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger,</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br><div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger,</p>
</div>
</div>
</div>
<div class="col-sm-3"> 
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="w3-card-4">
<img style="width: 100%;" src="assets/images/img_fjords.jpg" alt="Norway">
<br><br>
<br><br>
<div class="w3-container w3-center">
<p>The Troll's tongue in Hardanger, Norway</p>
</div>
</div>
</div>
</div>
</div><br><br>