<div class="background">
<div class="loading" id="imagelodar" *ngIf='myVar' >Loading&#8230;
<div class="loader">
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>
 </div>
 <div class="section"></div>
 <div style="text-align:center; ">
<main>
<div class="section"></div>
<div class="section"></div>
<div class="container-fluid" style="margin-top: 6%">
<div class="row-fluid" >
<div class="col-md-offset-4 col-md-4" id="box" style="background-color:#2698ed; ">
<img class="responsive-img" style="width:50%; margin-top: 10%" src="http://portal.getsporty.in/img/logo.png" />              
<hr>  
<div class="form-group" >
    <div class="col-md-12">
    <div class="input-group" style="margin-left: 21%;">
    <button (click)="signIn('google')" class="loginBtn loginBtn--google">
    <span class="fa fa-google"></span> Sign in with Google
    </button>
    </div>
    </div>
    </div>
    <div class="form-group" style="margin-top: 15%;margin-bottom:40%;margin-left: 18%;">
    <div class="col-md-12">
    <div class="input-group">
    <button (click)="signIn('facebook')" class="loginBtn loginBtn--facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
    </button>
    </div>
    </div>
    </div>
<hr>
<!-- <form class="form-horizontal" [formGroup]="form" role="form" (ngSubmit)="login()" id="contact_form">
<fieldset>
<div class="form-group">
<div class="col-md-12">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input id="email" #email autocomplete="off" type="email" class="form-control"  [(ngModel)]="loginModel.email" formControlName="email"  name="first_name"   placeholder="Email" [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
</div>
</div>
</div><div class="form-group">
<div class="col-md-12">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input id="password" type="password" class="form-control" #password [(ngModel)]="loginModel.password" formControlName="password" placeholder="Password" [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
</div>
</div>
</div>

<label style='float: left;'>
<a class='pink-text' routerLink="/registration"><h4 style="color: white"><b>Register ?</b></h4></a>
</label>

<label style='float: right;'>
<a class='pink-text' routerLink="/athletelogin"><h4 style="color: white"><b>Athlete ?</b></h4></a>
</label>

<div class="form-group">
<div class="col-md-12">
<button type="submit" class="btn btn-md btn-danger pull-right">Login </button>
</div>
</div>
</fieldset>
</form> -->
</div> 
</div>
</div>
<div *ngIf="invalid">
<div class="alert alert-danger" style="text-align: center; width: 20%; margin-left: 40%;margin-top: 5%" role="alert">
  <strong style="text-align: center; ">Oh No!</strong> Invalid Credentials.
</div>
</div>

  </main>

  </div></div>





