
<app-dashboard></app-dashboard>

<img style="height: 400px;width: 80%;margin-left: 10%; text-align: center;" src="assets/images/job_back.jpg"/>

<div class="caption">
<h2>{{Job.organisation_name}}</h2>
</div>
<div class="tabbable-panel">
    <div class="tabbable-line">
    <ul class="nav nav-tabs ">
    <li class="active">
    <a href="#tab_default_1" data-toggle="tab">
        Details </a>
    </li>
    <li>
    <a href="#tab_default_2" data-toggle="tab">
     Participant </a>
    </li>
    <li>
    <a href="#tab_default_3" data-toggle="tab">
      Accounting </a>
    </li>
    <li>
    <a href="#tab_default_4" data-toggle="tab">
       Manage </a>
    </li>
    <li>
    <a href="#tab_default_5" data-toggle="tab">
        Tab 3 </a>
    </li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab_default_1">
            
<div class="container">
<div class="row grid-divider">
<div class="col-sm-4">
<div class="col-padding"> 
<h4>
       Title -
<small class="text-muted">{{Job.title}}</small>
</h4>
<h4>
   Job Location -
<small class="text-muted">{{Job.location}}</small>
</h4>
<h4>
   Gender -
<small class="text-muted">{{Job.gender}}</small>
</h4>
<h4>
<p class="text-muted"><b>Sport -</b> {{Job.sport}}</p>
</h4>
<h4>
<p class="text-muted"><b>Job Type -</b> {{Job.type}}</p>
</h4>
<h4>
<p class="text-muted"><b>Job Qualification -</b> {{Job.qualification}}</p>
</h4>
</div>
</div>
<div class="col-sm-4">
<div class="col-padding">
<h4>
<p class="text-muted"><b>Key Requirement -</b> {{Job.key_requirement}}</p>
</h4>
<h4>
<p class="text-muted"><b>Email -</b> {{Job.email}}</p>
</h4>
<h4>
<p class="text-muted"><b>Work Experience -</b> {{Job.work_experience}}</p>
</h4>
<h4>
<p class="text-muted"><b>Desired Skills -</b> {{Job.desired_skills}}</p>
</h4>
<h4>
<p class="text-muted"><b>Eligibility -</b> {{Job.eligibility1}}</p>
</h4>
<h4>
<p class="text-muted"><b>Event Description -</b> {{Job.description}}</p>
</h4>
</div>
</div>
<div class="col-sm-4">
<div class="col-padding">
<h4>
<p class="text-muted"><b>Org Address -</b> {{Job.org_address1}}</p>
</h4>
<h4>
<p class="text-muted"><b>org Address -</b> {{Job.org_address2}}</p>
</h4>
<h4>
<p class="text-muted"><b>Crg City -</b> {{Job.org_city}}</p>
</h4>
<h4>
<p class="text-muted"><b>Org State -</b> {{Job.org_state}}</p>
</h4>
<h4>
<p class="text-muted"><b>Org Pin -</b> {{Job.org_pin}}</p>
</h4>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="tab_default_2">
<p>
     Howdy, I'm in Tab 2.
</p>
<p>
   Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. 



</p>
              <p>
                <a class="btn btn-warning" href="#" target="_blank">
                  Click for more features...
                </a>
              </p>
            </div>
            <div class="tab-pane" id="tab_default_3">
              <p>
                Howdy, I'm in Tab 3.
              </p>
              <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
              </p>
              <p>
                <a class="btn btn-info" href="#" target="_blank">
                  Learn more...
                </a>
              </p>
            </div>
              <div class="tab-pane" id="tab_default_4">
              <p>
                Howdy, I'm in Tab 2.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
              </p>
              <p>
                <a class="btn btn-warning" href="#" target="_blank">
                  Click for more features...
                </a>
              </p>
            </div>
              <div class="tab-pane" id="tab_default_5">
              <p>
                Howdy, I'm in Tab 2.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
              </p>
              <p>
                <a class="btn btn-warning" href="#" target="_blank">
                  Click for more features...
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
<a class="btn icon-btn btn-danger job" routerLink="/editJob/{{id}}"><span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-danger"></span><b>Edit</b></a>


  
    

