
<app-dashboard></app-dashboard>
<div class="loading" id="imagelodar" *ngIf='myVar' >Loading&#8230;
  <div class="loader">
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
  </div>
</div>
<img style="height: 400px;width: 80%;margin-left: 10%; text-align: center;" src="assets/images/job_back.jpg"/>
<div class="caption">
    <!-- <img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">  -->
    <img src="{{imageurl}}/job/{{Job.image}}"class="img-rounded" alt="Cinque Terre" width="204" height="156"> 
    <h2>{{Job.organisation_name}}</h2>
</div>
<div class="tabbable-panel">
<div class="tabbable-line">
<ul class="nav nav-tabs ">
<li class="active">
<a href="#tab_default_1" data-toggle="tab">
        Details </a>
</li>
<li>
<a href="#tab_default_2" data-toggle="tab">Participant </a>
</li>
<!-- <li>
            <a href="#tab_default_3" data-toggle="tab">
            Accounting </a>
</li> -->
<!-- <li>
            <a href="#tab_default_4" data-toggle="tab">
            Manage </a>
</li> -->
<!-- <li>
             <a href="#tab_default_5" data-toggle="tab">
             Tab 3 </a>
</li> -->
    </ul>
<div class="tab-content">

<div class="tab-pane active" id="tab_default_1">   
<div class="container">
<div class="row grid-divider">
<div class="col-sm-4">
<div class="col-padding"> 
<h4>
       Title -
<small class="text-muted">{{Job.title}}</small>
</h4>
<h4>
   Job Location -
<small class="text-muted">{{Job.location}}</small>
</h4>
<h4>
   Gender -
<small class="text-muted">{{Job.gender}}</small>
</h4>
<h4>
<p class="text-muted"><b>Sport -</b> {{Job.sport}}</p>
</h4>
<h4>
<p class="text-muted"><b>Job Type -</b> {{Job.type}}</p>
</h4>
<h4>
<p class="text-muted"><b>Job Qualification -</b> {{Job.qualification}}</p>
</h4>
</div>
</div>
<div class="col-sm-4">
<div class="col-padding">
<!-- <h4>
<p class="text-muted"><b>Key Requirement -</b> {{Job.key_requirement}}</p>
</h4> -->
<h4>
<p class="text-muted"><b>Email -</b> {{Job.email}}</p>
</h4>
<h4>
<p class="text-muted"><b>Work Experience -</b> {{Job.work_experience}}</p>
</h4>
<h4>
<p class="text-muted"><b>Desired Skills -</b> {{Job.desired_skills}}</p>
</h4>
<!-- <h4>
<p class="text-muted"><b>Eligibility -</b> {{Job.eligibility1}}</p>
</h4> -->
<h4>
<p class="text-muted"><b>Event Description -</b> {{Job.description}}</p>
</h4>
</div>
</div>
<div class="col-sm-4">
<div class="col-padding">
<h4>
<p class="text-muted"><b>Org Address -</b> {{Job.org_address1}}</p>
</h4>
<h4>
<p class="text-muted"><b>org Address -</b> {{Job.org_address2}}</p>
</h4>
<h4>
<p class="text-muted"><b>Crg City -</b> {{Job.org_city}}</p>
</h4>
<h4>
<p class="text-muted"><b>Org State -</b> {{Job.org_state}}</p>
</h4>
<h4>
<p class="text-muted"><b>Org Pin -</b> {{Job.org_pin}}</p>
</h4>
</div>
</div>
</div>
</div>
</div>

<div class="tab-pane" id="tab_default_2">
<div class="container">   
        <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#example1-tab1" aria-controls="example1-tab1" role="tab" data-toggle="tab">Applicants</a></li>
      <li role="presentation"><a href="#example1-tab2" aria-controls="example1-tab2" role="tab" data-toggle="tab">Shortlisted</a></li>
      <li role="presentation"><a href="#example1-tab3" aria-controls="example1-tab3" role="tab" data-toggle="tab">Offered</a></li>
    </ul>
        <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="example1-tab1">
      <table class="table-users table" border="0">
      <thead>
      <tr>
      <th></th>
      <th>Name</th>
      <th>Location</th>
      <th>Mobile</th>
      <th>Age</th>
      <th>View</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let list of userList'>
      <td width="10" align="center">
      <div *ngIf="!list.user_image">
      <img class="pull-left img-circle nav-user-photo" width="50" src="assets/images/user.jpg" />                           
      </div>
      <div *ngIf="list.user_image">
      <img class="pull-left img-circle nav-user-photo" width="50" src="{{list.user_image}}" />                           
      </div> 
      </td>
      <td>
      <a routerLink="/allProfile/{{list.userid}}/{{list.prof_id}}" target="_blank"> {{list.name}}</a>
      <br><i class="fa fa-envelope"></i>
      </td>
      <td>
          {{list.location}}
      </td>
      <td >
          {{list.contact_no}}<br>
      </td>
      <td >
          {{findAge(list.dob)}}
          {{age}}<br>
      </td>
      <td align="left">
      <div *ngIf="list.status == 1">
      <a  class="btn btn-primary btn-block btn-sm" (click)="shortlisted(list.userid,id)" >Shortlist</a>
      </div>
      <div *ngIf="list.status != 1">
      <a  class="btn btn-success btn-block btn-sm">Shortlisted</a>
      </div>
      </td> 
      </tr>
      </tbody>
      </table>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="example1-tab2">
      <table class="table-users table" border="0">
      <thead>
      <tr>
      <th></th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Age</th>
      <th>Interview</th>
      <th>Interview Date</th>
      <th>Sent Offer</th>
      </tr>
      </thead>
      <tbody>  
      <tr *ngFor='let list of shortlist'>
      <td width="10" align="center">
      <div *ngIf="!list.user_image">
      <img class="pull-left img-circle nav-user-photo" width="50" src="assets/images/user.jpg" />                           
      </div>     
      <div *ngIf="list.user_image">
      <img class="pull-left img-circle nav-user-photo" width="50" src="{{list.user_image}}" />                           
      </div>  
      </td>
      <td>
      <a routerLink="/allProfile/{{list.userid}}/{{list.prof_id}}" target="_blank"> {{list.name}}</a>
      <br><i class="fa fa-envelope"></i>
      </td>
      <td>
          {{list.contact_no}}<br>
      </td>
      <td>
          {{findAge(list.dob)}}
          {{age}}
      <br>
      </td>
      <td align="left">
      <div *ngIf="!list.interview_date">  
      <button type="button"  class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#modal'+list.userid">
          Schedule
      </button>
      </div>   
      <div *ngIf="list.interview_date">   
      <button type="button"  class="btn btn-success" data-toggle="modal" [attr.data-target]="'#modal'+list.userid">
            Reschedule
      </button>
      </div>
                <!-- Modal -->
      <div class="modal fade" id="modal{{list.userid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle"></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div class="form-group"> 
      <label>Message</label>
      <input type="text" id="msg{{list.userid}}" class="form-control">              
      </div>
      <div class="form-group"> 
      <label>Interview Date</label>
      <input  type="date" id="date{{list.userid}}" class="form-control">              
      </div> 
      <div class="form-group" *ngIf="result"> 
      <label>Venue</label>
      <input type="text" id="location{{list.userid}}" value="{{result.address1}} , {{result.address2}} , {{result.city}} , {{result.state}}" class="form-control">              
      </div>
      <div class="form-group" *ngIf="!result"> 
      <label>Venue</label>
      <input type="text" id="location{{list.userid}}"  class="form-control">              
      </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="callforinterview(list.userid)">Schedule Interview</button>
      </div>
      </div>
      </div>
      </div>
      </td> 
      <td>
          {{list.interview_date}}
      </td>
      <td>
      <div *ngIf="list.interview_date">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Offer
      </button>
      </div>
      <div *ngIf="!list.interview_date">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" disabled>
           Offer
      </button>
      </div>
                  <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Offer Letter</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div class="form-group"> 
      <label>Salary</label>
      <input type="text" id="Salary{{list.userid}}" class="form-control">              
      </div>
      <div class="form-group"> 
      <label>Join Date</label>
      <input type="date" id="Join_date{{list.userid}}" class="form-control">              
      </div>                   
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendoffer(list.userid)">Offer</button>
      </div>
      </div>
      </div>
      </div>
      </td>
      </tr>
      </tbody>
      </table>           
      </div>
      <div role="tabpanel" class="tab-pane fade" id="example1-tab3">
      <table class="table-users table" border="0">
      <thead>
      <tr>
      <th></th>
      <th>Name</th>
      <th>Location</th>
      <th>Mobile</th>
      <th>Age</th>
      <th>Status</th>
      </tr>
      </thead>
      <tbody> 
      <tr *ngFor='let list of offered'>
      <td width="10" align="center">
      <div *ngIf="!list.user_image">
      <img class="pull-left img-circle nav-user-photo" width="50" src="assets/images/user.jpg" />                           
      </div>
      <div *ngIf="list.user_image">
      <img class="pull-left img-circle nav-user-photo" width="50" src="{{list.user_image}}" />                           
      </div> 
      </td>
      <td>
      <a routerLink="/allProfile/{{list.userid}}/{{list.prof_id}}" target="_blank"> {{list.name}}</a>
      <br><i class="fa fa-envelope"></i>
      </td>
      <td>
          {{list.location}}
      </td>
      <td >
          {{list.contact_no}}<br>
      </td>
      <td >
          {{findAge(list.dob)}}
          {{age}}          
      <br>
      </td>
      <td align="center">
      <div *ngIf="list.status == 4">
      <a  class="btn btn-primary btn-block btn-sm">Pending</a>
      </div>
      
      <div *ngIf="list.status == 5">
      <a  class="btn btn-success btn-block btn-sm">Accept</a>
      </div>

      </td> 
      </tr>
      </tbody>
      </table>              
      </div>
      </div>
      </div>

  <!-- <div class="container">
    <div class="row">
    <div class="panel panel-default user_panel" style="min-width:100%;">
    <div class="panel-heading">
    <h3 class="panel-title">User List</h3>
    </div>
    <div class="panel-body">
    <div class="table-container">
    <table class="table-users table" border="0">
     <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Location</th>
          <th>Mobile</th>
          <th>Age</th>
          <th>View</th>
        </tr>
      </thead>
    <tbody>

    <tr *ngFor='let list of userList'>
    <td width="10" align="center">
    <img class="pull-left img-circle nav-user-photo" width="50" src="{{list.user_image}}" />                           
    </td>
    <td>
      <a routerLink="/allProfile/309/2"> {{list.name}}</a>
    <br><i class="fa fa-envelope"></i>
    </td>
    <td>
      {{list.location}}
    </td>
     <td >
      {{list.contact_no}}<br>
     </td>
     <td >
      {{list.dob}}<br>
     </td>
     <td align="center">
      <div>
      <a routerLink="/userProfile/{{list.userid}}" class="btn btn-primary btn-block btn-sm">Profile</a>
      </div>
     </td> 
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div> -->



</div>
            <div class="tab-pane" id="tab_default_3">
              <p>
                Howdy, I'm in Tab 3.
              </p>
              <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
              </p>
              <p>
                <a class="btn btn-info" href="#" target="_blank">
                  Learn more...
                </a>
              </p>
            </div>
              <div class="tab-pane" id="tab_default_4">
              <p>
                Howdy, I'm in Tab 2.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
              </p>
              <p>
                <a class="btn btn-warning" href="#" target="_blank">
                  Click for more features...
                </a>
              </p>
            </div>
              <div class="tab-pane" id="tab_default_5">
              <p>
                Howdy, I'm in Tab 2.
              </p>
              <p>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
              </p>
              <p>
                <a class="btn btn-warning" href="#" target="_blank">
                  Click for more features...
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
<!-- <a class="btn icon-btn btn-danger job" routerLink="/editJob/{{id}}"><span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-danger"></span><b>Edit</b></a> -->

<a class="btn icon-btn btn-danger job" (click)="openJobEdit(id)"><span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-danger"></span><b>Edit</b></a>
<div *ngIf="Job.publish==0">
<a class="btn icon-btn btn-info job1" (click)="publish(id,Job.title)"><span class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-danger"></span><b>Publish</b></a>
</div>
  
    

