<app-athleteheader></app-athleteheader>
<div class="loading" id="imagelodar" *ngIf='myVar' >Loading&#8230;
<div class="loader">
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>
 </div>
<div class="w3-content w3-margin-top" style="max-width:1400px;">
<div class="w3-row-padding">
<div class="w3-third">
<div class="w3-white w3-text-grey w3-card-4">
<div class="w3-display-container">
<img src="assets/images/avatar_hat.jpg" style="width:100%" alt="Avatar">
<div class="w3-display-bottomleft w3-container w3-text-white">
        <h2>{{user.name}}</h2>
        </div>
        </div>
        <div class="w3-container">
        <h5 class="w3-opacity"><b>Profession - </b>{{user.prof_name}}</h5>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Email - </b> {{user.email}}</h5>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Contact No - </b>{{user.contact_no}}</h5>
        <p></p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Sport - </b>{{user.sport}}</h5>
        <p></p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Gender - </b>{{user.gender}}</h5>
        <p></p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>DOB</b></h5>
        <h6 class="w3-text-teal"><span class="w3-tag w3-green w3-round">{{user.dob}}</span></h6>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <hr>
        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Address Details</b></p>
        <h5 class="w3-opacity"><b>Location  </b></h5>
        <p>{{user.location}}</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        </div>
        <h5 class="w3-opacity"><b>Languages Known  </b></h5>
        <p>{{user.languages_known}}</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
        </div>
        </div>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Header</b></p>
          <h5 class="w3-opacity"><b>Description</b></h5>
          <p>{{headerdetails.description}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <h5 class="w3-opacity"><b>level</b></h5>
          <p>{{headerdetails.level}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <h5 class="w3-opacity"><b>Location</b></h5>
          <p>{{headerdetails.location}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <h5 class="w3-opacity"><b>name</b></h5>
          <p>{{headerdetails.name}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <h5 class="w3-opacity"><b>Rank</b></h5>
          <p>{{headerdetails.Rank}}</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <br>
          <br>
        </div>
      </div><br>
    </div>
    <div class="w3-twothird"> 

         <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Header</h2>

    <div class="w3-container">
    <div class="form-group">
    <label>Date</label>
    <input type="date" class="form-control" name="date" [(ngModel)]="headerdetails.name" value="{{headerdetails.name}}" >
    </div>
    <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description" [(ngModel)]="headerdetails.location" value="{{headerdetails.location}}" >
    </div>
    <div class="form-group">
    <label>level</label>
    <input type="text" class="form-control" name="level" [(ngModel)]="headerdetails.level" value="{{headerdetails.level}}" >
    </div>
    <div class="form-group">
    <label>Name Of Award</label>
    <input type="text" class="form-control" name="nameOfAward" [(ngModel)]="headerdetails.description" value="{{headerdetails.description}}" >
    </div>
    <div class="form-group">
    <label>Rank</label>
    <input type="text" class="form-control" name="Rank" [(ngModel)]="headerdetails.Rank" value="{{headerdetails.Rank}}" >
    </div>
    <hr>
    </div>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Award</h2>
    <div *ngFor = 'let awards of Award' >
    <div class="w3-container">
    <div class="form-group">
    <label>Date</label>
    <input type="date" class="form-control" name="date" [(ngModel)]="awards.date" value="{{awards.date}}" >
    </div>
    <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description" [(ngModel)]="awards.description" value="{{awards.description}}" >
    </div>
    <div class="form-group">
    <label>Name Of Award</label>
    <input type="text" class="form-control" name="nameOfAward" [(ngModel)]="awards.nameOfAward" value="{{awards.nameOfAward}}" >
    </div>
    <hr>
    </div>
    </div>
    <div class="p-container">
    <input  style="outline: none;" type="submit" (click)="addAwards()" class="btn btn-primary" value="Add Award" >
    <div class="clear"> 
    </div>
    </div>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Best Results</h2>
    <div *ngFor = 'let bestresult of BestResults'> 
    <div class="w3-container">

    <div class="form-group">
    <label>Date</label>
    <input type="date" class="form-control" name="date" [(ngModel)]="bestresult.date" value="{{bestresult.date}}" >
    </div>
     <div class="form-group">
    <label>Name Comptation</label>
    <input type="text" class="form-control" name="nameComptation" [(ngModel)]="bestresult.nameComptation" value="{{bestresult.nameComptation}}" >
    </div>
     <div class="form-group">
    <label>Result</label>
    <input type="text" class="form-control" name="result" [(ngModel)]="bestresult.result" value="{{bestresult.result}}" >
    </div>
     <div class="form-group">
    <label>Rounds</label>
    <input type="text" class="form-control" name="rounds" [(ngModel)]="bestresult.rounds" value="{{bestresult.rounds}}" >
    </div>
    <hr>
    </div>
    </div>
    <div class="p-container">
     <input  style="outline: none;" type="submit" (click)="addBestResult()" class="btn btn-primary" value="Add BestResults" >
     <div class="clear"> 
     </div>
     </div>
    </div>
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Latest Result</h2>

    <div *ngFor="let latestresult of LatestResult; let i = index" class="">
    <div class="w3-container">

<h6 class="w3-text-teal">LatestResult {{i + 1}}</h6>
<div class="form-group">
<label>Date Of Competation</label>
<input type="date" class="form-control" name="dateOfCompetation" [(ngModel)]="latestresult.dateOfCompetation" value="{{latestresult.dateOfCompetation}}" >
</div>
<div class="form-group">
<label>Detail</label>
<input type="text" class="form-control" name="detail" [(ngModel)]="latestresult.detail" value="{{latestresult.detail}}" >
</div>
<div class="form-group">
<label>Name Of Competation</label>
<input type="text" class="form-control" name="nameOfCompetation" [(ngModel)]="latestresult.nameOfCompetation" value="{{latestresult.nameOfCompetation}}" >
</div>
<div class="form-group">
<label>Opponent</label>
<input type="text" class="form-control" name="opponent" [(ngModel)]="latestresult.opponent" value="{{latestresult.opponent}}" >
</div>
<div class="form-group">
<label>result</label>
<input type="text" class="form-control" name="result" [(ngModel)]="latestresult.result" value="{{latestresult.result}}" >
</div>
<div class="form-group">
<label>round</label>
<input type="text" class="form-control" name="round" [(ngModel)]="latestresult.round" value="{{latestresult.round}}" >
</div>
<div class="form-group">
<label>score</label>
<input type="text" class="form-control" name="score" [(ngModel)]="latestresult.score" value="{{latestresult.score}}" >
</div>
<input type="hidden" id="terms_cond_value" class="form-control" [(ngModel)]="latestresult.detail" value="{{latestresult | json}}">
<div class="form-group">
<input type="hidden"  name="terms_cond" [(ngModel)]="latestresult.nameOfCompetation" class="form-control">
</div>
   
<hr>
</div>
</div>
<div class="p-container">
<input  style="outline: none;" type="submit" (click)="addLatestResult()" class="btn btn-primary" value="Add LatestResult" >
<div class="clear"> 
</div>
</div>
</div>


    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Bio</h2>
  
    <div class="w3-container">
    <div class="form-group">
    <label>Club Or Academy</label>
    <input type="text" class="form-control" name="clubOrAcademy" [(ngModel)]="bio.clubOrAcademy" value="{{bio.clubOrAcademy}}" >
    </div>
    <div class="form-group">
    <label>Coach Name</label>
    <input type="text" class="form-control" name="coachName" [(ngModel)]="bio.coachName" value="{{bio.coachName}}" >
    </div>
    <div class="form-group">
    <label>DoB</label>
    <input type="date" class="form-control" name="dob" [(ngModel)]="bio.dob" value="{{bio.dob}}" >
    </div>
      <div class="form-group">
    <label>Height</label>
    <input type="text" class="form-control" name="height" [(ngModel)]="bio.height" value="{{bio.height}}" >
    </div>
      <div class="form-group">
    <label>Style Or Type Of Play</label>
    <input type="text" class="form-control" name="styleOrTypeOfPlay" [(ngModel)]="bio.styleOrTypeOfPlay" value="{{bio.styleOrTypeOfPlay}}" >
    </div>
      <div class="form-group">
    <label>Weight</label>
    <input type="text" class="form-control" name="weight" [(ngModel)]="bio.weight" value="{{bio.weight}}" >
    </div>
    <hr>

    </div>
    </div>


<div class="p-container">
<input  style="outline: none;" type="submit" (click)="Submit()" class="btn btn-primary" value="Submit" >
<div class="clear"> 
</div>
</div>
    </div>

    </div>
    </div>