<app-dashboard></app-dashboard>

<div *ngIf="result">
  <h1 style="margin-left:45%;">{{result.org_name}} </h1>

</div>
<div style="text-align:center;" *ngIf="!result">
<button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Oraganization Details</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Create Organization</h4>
</div>
<div class="modal-body">

  <form class="form-horizontal" [formGroup]="form">

    
      <div class="form-group" [ngClass]="displayFieldCss('org_name')">
      <div class="col-sm-12">
      <label for="org_name" class="control-label required">Organization  Name</label>
      <input type="text" id="org_name" class="form-control" formControlName="org_name">
      <app-field-error-display [displayError]="isFieldValid('org_name')" errorMsg="Please enter your name">
      </app-field-error-display>
      </div>
      </div>
    
      <div class="form-group" [ngClass]="displayFieldCss('email')">
      <div class="col-sm-12">
      <label for="email" class="control-label required">Email</label>
      <input type="text" id="email" class="form-control" formControlName="email">
      <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please enter your email">
      </app-field-error-display>
      </div>
      </div>

      <div class="form-group" [ngClass]="displayFieldCss('about')">
      <div class="col-sm-12">
      <label for="about" class="control-label required">About Organization</label>
      <input type="text" id="about" class="form-control" formControlName="about">
      <app-field-error-display [displayError]="isFieldValid('about')" errorMsg="Please enter your about organization">
      </app-field-error-display>
      </div>
      </div>
 
      <div class="form-group" [ngClass]="displayFieldCss('address1')">
          <div class="col-sm-12">
          <label for="address1" class="control-label required">Address1</label>
          <input type="text" id="address1" class="form-control" formControlName="address1">
          <app-field-error-display [displayError]="isFieldValid('address1')" errorMsg="Please enter your address">
          </app-field-error-display>
          </div>
          </div>

        <div class="form-group" [ngClass]="displayFieldCss('address2')">
        <div class="col-sm-12">
        <label for="address2" class="control-label required">Address2</label>
        <input type="text" id="address2" class="form-control" formControlName="address2">
        <app-field-error-display [displayError]="isFieldValid('address2')" errorMsg="Please enter your address">
        </app-field-error-display>
        </div>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('city')">
        <div class="col-sm-12">
        <label for="city" class="control-label required">City</label>
        <input type="text" id="city" class="form-control" formControlName="city">
        <app-field-error-display [displayError]="isFieldValid('city')" errorMsg="Please enter your city name">
        </app-field-error-display>
        </div>
        </div>
        
        <div class="form-group" [ngClass]="displayFieldCss('state')">
        <div class="col-sm-12">
        <label for="state" class="control-label required">State</label>
        <input type="text" id="state" class="form-control" formControlName="state">
        <app-field-error-display [displayError]="isFieldValid('state')" errorMsg="Please enter your state name">
        </app-field-error-display>
        </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCss('pin')">
        <div class="col-sm-12">
        <label for="pin" class="control-label required">Pin</label>
        <input type="text" id="pin" class="form-control" formControlName="pin">
        <app-field-error-display [displayError]="isFieldValid('pin')" errorMsg="Please enter pin number">
        </app-field-error-display>
        </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCss('mobile')">
        <div class="col-sm-12">
        <label for="mobile" class="control-label required">Mobile No</label>
        <input type="text" id="mobile" class="form-control" formControlName="mobile">
        <app-field-error-display [displayError]="isFieldValid('mobile')" errorMsg="Please enter your mobile number">
        </app-field-error-display>
        </div>
        </div>
        

      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      <button class="btn" (click)="reset()">Reset</button>
    
    </form>

  
<!-- <div class="form-group">

<label for="org_name">Organization Name</label>
<input type="hidden" [(ngModel)]="org.userid" class="form-control" id="userid">
<input type="text" [(ngModel)]="org.org_name" class="form-control" id="org_name">
</div>
      <div class="form-group">
      <label for="about">About</label>
      <input type="text" class="form-control" [(ngModel)]="org.about" id="about">
      </div>
      <div class="form-group">
      <label for="orgname">Address 1</label>
      <input type="text" class="form-control" [(ngModel)]="org.address1" id="address1">
      </div>  
      <div class="form-group">
      <label for="address2">Address 2</label>
      <input type="text" class="form-control" [(ngModel)]="org.address2" id="address2">
      </div>
      <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" [(ngModel)]="org.city" id="city">
      </div>
      <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" [(ngModel)]="org.state"  id="state">
      </div> 
      <div class="form-group">
      <label for="pin">Pin</label>
      <input type="text" class="form-control" [(ngModel)]="org.pin" id="pin">
      </div>
      <div class="form-group">
      <label for="mobile">Mobile No</label>
      <input type="text" class="form-control" [(ngModel)]="org.mobile" id="mobile">
      </div>
      <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" [(ngModel)]="org.email" id="email">
      </div> -->
      </div>

      <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="orgregister(org)">Submit</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
      </div> -->

      </div>
      </div>
  </div>

  
<br><br>
<!-- <div class="container" >
<div class="row">
<div class="posrel"> 
<ul class="nav nav-tabs">
<li class="active" ><a  class="blue" data-toggle="tab" href="#home">Event</a></li>  
<li><a  class="red" data-toggle="tab" href="#menu3">Jobs</a></li>
</ul>



</div>
<div class="tab-content">
<div id="home" class="tab-pane fade in active">

<a class="btn icon-btn btn-success event" routerLink="/createevent"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span><b>Create Event</b></a>

<div *ngIf="Event ; else elseBlock">
<div class="row">
<div *ngFor = 'let evt of Event ; let i = index' class= ''>
    <div class="col-md-4" style="margin-top: 2%; width: 25%;">
      <div class="column"> 
          
         
          <div class="post-module" > 
          <div class="thumbnail" >
          <div class="date" style="background-color:#8ac14a;"> <a title="view" routerLink ="/viewEvent/{{evt.id}}">
          <div class="day"><i class="glyphicon glyphicon-eye-open"></i></div></a> </div>
          <div *ngIf='evt.image'>
          <img src="{{imageurl}}/event/{{evt.image}}" class="img-responsive" style="width:100%;" alt="">
           </div>
          <div *ngIf='!evt.image'>
          <img src="assets/images/No_image.jpg" class="img-responsive" style="width:100%;" alt="">
            </div>
            </div>
            <div class="post-content" >
              <div class="category" style="background-color:#8ac14a;">{{evt.name}}</div>
              <h4 class="title"> </h4>
             <div class="row">
             <span class="glyphicon glyphicon-globe"> {{evt.location}}   </span><br>
            <span class="glyphicon glyphicon-calendar"><b>Event Start </b></span><h5>{{ evt.start_date | date: 'yMMMd'}}</h5>
            
            <div style="margin-top: -20%;    margin-left: 62%;" >
            <span class="glyphicon glyphicon-calendar"><b>Event End </b></span><h5>{{ evt.end_date | date: 'yMMMd'}}</h5>
            </div>
            </div>
              <div *ngIf= "evt.end_date |date: 'dd/MM/yyyy' > currentDate | date: 'dd/MM/yyyy'" > asdf</div>
              <div style=" position: relative; top: -320px;left: -29px">  
              <div *ngIf="hello(evt.end_date)"><h4><span class="label label-success"><b>Active</b></span></h4></div>
              <div *ngIf ="!hello(evt.end_date)"><h4><span class="label label-danger"><b>Inactive</b></span></h4></div>
              </div>
              </div>
          </div>
        </div>
      </div>
      </div>
</div>
</div>
<ng-template #elseBlock>


</ng-template>



</div> till here -->


<!-- <div id="menu2" class="tab-pane fade">   


<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="assets/images/tournament3.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
     <a href="#"><img src="assets/images/tournament3.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
     <a href="#"><img src="assets/images/tournament3.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div> -->


<!-- start from here <div id="menu3" class="tab-pane fade">



<a class="btn icon-btn btn-danger job" routerLink="/job"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span><b>Create Job</b></a>
<div *ngIf="Job"> 
<div class="row">
<div *ngFor = 'let job of Job ; let i = index' class= ''>
    <div class="col-md-4" style="margin-top: 2%; width: 25%;">
      <div class="column"> 
          <div class="post-module"> 
            <div class="thumbnail">
          <div class="date" style="background-color:#f56436;"> <a title="view" routerLink ="/viewjob/{{job.id}}">
                <i style="color: #fff;" class="glyphicon glyphicon-eye-open"></i>
                </a> </div>
          <div *ngIf='job.image'>
          <img src="{{imageurl}}/job/{{job.image}}" class="img-responsive" style="width:100%;" alt="">
           </div>
          <div *ngIf='!job.image'>
          <img src="assets/images/No_image.jpg" class="img-responsive" style="width:100%;" alt="">
          </div>


            </div>
            <div class="post-content">
              <div class="category" style="background-color:#f56436;">{{job.title}}</div>
              <h2 class="title"></h2>


              <div class="post-meta"><span class="timestamp">Location - {{job.location}}</span><span class="comments">Sports - {{job.sport}}</span></div>
              <div *ngIf='job.publish ==0'>
              <button type="button" style="float: right;" class="btn btn-danger" (click)="publish(job.id,1)">Active</button>
            </div>
            <div *ngIf='job.publish ==1'>
              <button type="button" style="float: right;" class="btn btn-success" (click)="publish(job.id , 0)">Deactive</button>
            </div>

            </div>
          </div>
        </div>
      </div>

</div>
</div>
</div>
<br>
<br>
<div style="margin-left: 32%;" *ngIf='!Job'>
  <div class="col-md-4" style="margin-top: 2%; width: 50%;">
    <div class="column"> 
    <div class="post-module" > 
    <div class="thumbnail" >
    <img src="assets/images/no-photo.png" class="img-responsive" style="width:100%;" alt="">
    </div>
    <div class="post-content" >
    <div class="category" style="background-color:#8ac14a;">Job Title</div>
    <h4 class="title"> </h4>
    <div class="row">
    <span class="glyphicon glyphicon-globe"> evt.location   </span><br>
    <span class="glyphicon glyphicon-calendar"><b>Event Start </b></span><h5> evt.start_date </h5> 
    <div>
    <span class="glyphicon glyphicon-calendar"><b>Event End </b></span><h5>evt.end_date </h5>
    </div>
    </div>  
    </div>
    </div>
    </div>
    </div>
  </div>  



</div>
</div>
</div>
</div>
till here -->

<!-- <app-dashboard></app-dashboard>
<div class="container">
<div class="row">
<div class="posrel"> 
<ul class="nav nav-tabs">
<li class="active"><a  class="blue" data-toggle="tab" href="#home">Create Event</a></li>  
<li><a class="yellow" data-toggle="tab" href="#menu2">Create Tornaments</a></li>
<li><a  class="red" data-toggle="tab" href="#menu3">Create Jobs</a></li>
</ul>
</div>   
<div class="tab-content">
<div id="home" class="tab-pane fade in active">
<div class="container shadow">
<div class="row">
<div class="col-md-12">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div *ngIf="Event ; else elseBlock">
<div class="carousel-inner">
<div class="item active">
<div class="container">
<div class="row">
<div *ngFor = 'let evt of Event ; let i = index' class= ''>
<div class="col-md-4" *ngIf = 'i<3'>
<div class="card" >
<div class="card-image">
 <img class="img-responsive" src="assets/images/event.jpg">
<span class="card-title">{{evt.name}} </span>
</div>  
<div class="card-content">
<p>{{evt.description}}</p>
</div>
                <div class="card-action">
                    <a routerLink ="/viewEvent/{{evt.id}}">View</a>
                    <a routerLink ="/editEvent/{{evt.id}}">Edit</a>
                </div>
            </div>
      </div>
      </div>

      </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <div class="row">
      <div *ngFor = 'let evt of Event ; let j = index' id= ''>
      <div class="col-md-4"  *ngIf = 'j>2'>
      <div class="card">
      <div class="card-image">
       <img class="img-responsive" src="assets/images/event.jpg">
      <span class="card-title">{{evt.name}}</span>
      </div>
      <div class="card-content">
      <p>{{evt.description}}</p>
      </div>        
      <div class="card-action">
      <a routerLink ="/viewEvent/{{evt.id}}">View</a>
      <a routerLink ="/editEvent/{{evt.id}}">View</a>
      </div>
      </div>
      </div>
      </div>
      </div>
       </div>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
   <div class="carousel-inner">
      <div class="item active">
        <img src="https://www.entrytime.com/wp-content/uploads/2015/07/Marathon.jpg" alt="Los Angeles" style="width:100%; height: 450px !important;">
      </div>

      <div class="item">
        <img src="http://aztecmm.com/wp-content/uploads/2015/01/sports-large-2.jpg" alt="Chicago" style="width:100%; height: 450px !important;">
      </div>
    
      <div class="item">
        <img src="http://www.evertrue.com/app/uploads/2013/10/fenway_park_2009.jpg" alt="New york" style="width:100%; height: 450px !important;">
      </div>
    </div>
</ng-template>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>

</div>
    
    <div class="row">
  
<div class="col-md-12" style="text-align: right;">   
<a routerLink="/createevent"  class="btn btn-primary" style="    padding: 10px 20px; outline: none; margin: 20px 0px;" >Event</a>
</div>  
</div> 
</div>
</div>


<div id="menu2" class="tab-pane fade">   
<div class="container shadow">
<div class="row">
<div class="col-md-12">
<div id="myCarousel1" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>
      </div>
      <div class="col-md-4">
      <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>

      </div>
      <div class="col-md-4">
      <div class="card">
                <div class="card-image">
                   <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>
      </div>
      </div>
      </div>
      </div>

      <div class="item">
      <div class="container">
      <div class="row">
      <div class="col-md-4">
        <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>
      </div>
      <div class="col-md-4">
      <div class="card">
                <div class="card-image">
                   <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>

      </div>
      <div class="col-md-4">
      <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>
      </div>
      </div>
      </div>
       
      </div>
    
      <div class="item">
      <div class="container">
      <div class="row">
      <div class="col-md-4">
        <div class="card">
                <div class="card-image">
                   <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>
      </div>
      <div class="col-md-4">
      <div class="card">
                <div class="card-image">
                  <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>

      </div>
      <div class="col-md-4">
      <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="assets/images/tournament.jpg">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    
                </div>
            </div>
      </div>
      </div>
      </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12" style="text-align: right;">
  <input  class="btn btn-primary" style="    padding: 10px 20px; outline: none; margin: 20px 0px;" type="submit" value="Tournament">
  </div>
  </div>
  </div>
  </div>
<div id="menu3" class="tab-pane fade">
<div class="container shadow">
<div class="row">  
<div class="col-md-12">
<div id="myCarousel2" class="carousel slide" data-ride="carousel">
<div *ngIf="Job"> 
<div class="carousel-inner">
<div class="item active">
<div class="container">
<div class="row">
<div *ngFor = 'let job of Job ; let i = index' class= ''>
<div class="col-md-4" *ngIf = 'i<3' >
<div class="card">
<div class="card-image">
 <img class="img-responsive" src="assets/images/job.jpg">
<span class="card-title">{{job.title}} </span>
</div>  
<div class="card-content">
                <p>{{job.description}}</p>
                </div>
                <div class="card-action">
                <a routerLink="/viewjob/{{job.id}}">View</a>
                <a routerLink="/editJob/{{job.id}}">Edit</a>
                </div>
            </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="item">
      <div class="container">
      <div class="row">
      <div *ngFor = 'let job of Job ; let j = index' id= ''>
      <div class="col-md-4"  *ngIf = 'j>2'>
      <div class="card">
      <div class="card-image">
      <img class="img-responsive" src="assets/images/job.jpg">
      <span class="card-title">{{job.title}}</span>
      </div>
      <div class="card-content">
      <p>{{job.description}}</p>
      </div>        
      <div class="card-action">
      <a routerLink="/viewjob/{{job.id}}">View</a>
      <a routerLink="/editJob/{{job.id}}">Edit</a>
      </div>
      </div>
      </div>
      </div>
      </div>
       </div>
      </div>
    </div>
  </div>
    <div *ngIf="!Job">
   <div class="carousel-inner">
      <div class="item active">
        <img src="assets/images/job.jpg" alt="Los Angeles" style="width:100%; height: 450px !important;">
      </div>
      <div class="item">
        <img src="assets/images/tournament1.jpg" alt="Chicago" style="width:100%; height: 450px !important;">
      </div>
      <div class="item">
        <img src="http://www.evertrue.com/app/uploads/2013/10/fenway_park_2009.jpg" alt="New york" style="width:100%; height: 450px !important;">
      </div>
    </div>
    </div>
  <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>
<div class="row">
<div class="col-md-12" style="text-align: right;">   
<a routerLink="/job"  class="btn btn-primary" style="padding: 10px 20px; outline: none; margin: 20px 0px;" >Job</a>
</div>  
</div> 
</div>
  </div>
</div>
    </div>
    </div> -->

<!-- <form class="form-horizontal" [formGroup]="form">
  <div class="form-group" [ngClass]="displayFieldCss('name')">
    <div class="col-sm-12">
      <label for="name" class="control-label required">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <app-field-error-display [displayError]="isFieldValid('name')" errorMsg="Please inform your name">
      </app-field-error-display>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label required">Email</label>
      <input type="text" id="email" class="form-control" formControlName="email">
      <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please inform your email">
      </app-field-error-display>
    </div>
  </div>

  <div formGroupName="address">
    <div class="form-group">
      <div class="col-md-6" [ngClass]="displayFieldCss('address.street')">
        <label for="street" class="control-label required">Address</label>
        <input type="text" id="street" class="form-control" formControlName="street">
        <app-field-error-display [displayError]="isFieldValid('address.street')" errorMsg="Please inform your address">
        </app-field-error-display>
      </div>
      <div class="col-md-3">
        <label for="street2" class="control-label">Address 2</label>
        <input type="text" id="street2" class="form-control" formControlName="street2">
      </div>
      <div class="col-md-3" [ngClass]="displayFieldCss('address.zipCode')">
        <label for="zipCode" class="control-label required">Zip Code</label>
        <input type="text" id="zipCode" class="form-control" formControlName="zipCode">
        <app-field-error-display [displayError]="isFieldValid('address.zipCode')" errorMsg="Please inform your zipCode">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group">

      <div class="col-md-4" [ngClass]="displayFieldCss('address.city')">
        <label for="city" class="control-label required">City</label>
        <input type="text" id="city" class="form-control" formControlName="city">
        <app-field-error-display [displayError]="isFieldValid('address.city')" errorMsg="Please inform your city">
        </app-field-error-display>
      </div>

      <div class="col-md-4" [ngClass]="displayFieldCss('address.state')">
        <label for="state" class="control-label required">State / Province / Region</label>
        <input type="text" id="state" class="form-control" formControlName="state">
        <app-field-error-display [displayError]="isFieldValid('address.state')" errorMsg="Please inform your state">
        </app-field-error-display>
      </div>

      <div class="col-md-4" [ngClass]="displayFieldCss('address.country')">
        <label for="country" class="control-label required">Country</label>
        <input type="text" id="country" class="form-control" formControlName="country">
        <app-field-error-display [displayError]="isFieldValid('address.country')" errorMsg="Please inform your country">
        </app-field-error-display>
      </div>

    </div>
  </div>

  <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
  <button class="btn" (click)="reset()">Reset</button>

</form> -->